

<ion-list>
  <ion-item-sliding #slidingItem *ngFor="let list of (purchasesService.list | filterComplt:complStatus)">
    
    <ion-item-options side="left">
      <button (click)="editList(list, slidingItem)" ion-button icon-only color="secondary">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item-options>
    
    <button ion-item (click)="listSelected(list)">
      {{ list.title }}

      <ion-note item-end> {{ list.items.length }} </ion-note>
    </button>

    <ion-item-options side="right">
      <button (click)="delList(list)" ion-button icon-only color="danger">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
